/*  header footer color */
.theme_bg_color{
	background-color:#896633 ! important;
}

.them_bdr_clor{
	border-color:#896633 ! important;
}

.theme_txt_color{
	color:#896633 ! important;
}
.footer_bg_color{
	background-color:#896633;
}
.themBrdrClr{
	border-color:#132226 ! important;
}
.dropdown-content a:hover{
	background-color: #896633;
}

.them_btn:after {
    color: #896633;
}


.bottomLbl{
    color: #896633;   
}


.RCircle{
	background:#896633;
}


.featrLstCrd:hover  {
	background:#896633;
}


.prophead{
	background:#896633;
}

.headTab{
	padding: 10px;
	border-left:10px solid #896633;
}

.clock {
	font-size: 70px;
	color:#896633;
}

.them_color{
	color:#896633;
}


.qaActiv{
	background: #896633;
}

.navbar-nav > .active {
	background:#896633 ! important;
} 


.proptyFltBtn{
   box-shadow: 0px 8px 16px 0px rgb(78, 77, 69);
}

.PropFrm{
	background: rgba(137, 102, 51, 0.86);
	box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24);
}

.them_color2{
	background:#e0c07d;
}

.viewPropPic:hover {
	bottom:2.9%;
	left:2.9%;
	box-shadow: 6px 5px #896633;
}

.themTxtColor2{
	color:#e0c07d;
}

.sec7 > .them_btn:after {
    color: #e0c07d;
}

.NoBg .hire_form input[type="email"], input[type="text"], select {
	border-bottom: solid 2px #896633;
}