didv{
	border: 1px solid black;
}

body{
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #484848;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr{
	border-top: 1px solid #e4e2e2;
}

h1, .h1 {
    font-size: 30px;
}

.relatve{
	position:relative;
}
.mySlides {
	overflow-y:hidden;
}

a {
    text-decoration: none;
}

/* color code always goes here */
.background_white {
	background-color:#fff;
}

.hot_booking_color_red{
	color: #c30;
}

.bg_color_grey{
	background-color:#666 ! important;
}
.color_grey{
	color:#666 ! important;
}

.color_black{
	color:#000 ! important;
}

.color_white{
	color: white;
}

.theme_text_color {
	color: #424242;
}

/* hover color effect */

.booking_banner{
	fill:#ae1611;
}

.dropdown-content a:hover{
	color:#fff ! important;
	border-bottom: 0px;
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}
.font_10_px{
	font-size: 11px ! important;
}

/* hover button color */
.buttons:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.buttons_invert:hover {

}
/* ends  here fa icon color */

/* glif icon card color theme and hover color effect */

.theme_fa_icon_color {
	background:#f85572;
}

.icon_card:hover{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}

.icon_card:hover .theme_fa_icon_color{
	background-color:#424242;
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}

/*  ends here */

/* for any anchor tag theme hover css */
.rm_hover:hover{
	text-decoration: none;
	color:#ae1611; /* use theme text color here */
}


/* ends  here */

/* dropdown hover color */

.dropdown-content a:hover{
	color:#fff ! important;
	border-bottom: 0px;
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}

/* ends dropdown color */

.nav_active {
	background-color:#ae1611;
}
.nav_lsit li:hover .dropdown {
	background-color:#424242;
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}

/* ends here */

/* photo section background color */
.room_pic_bg_color {
	    background-color: #edf0f5 ! important;
}

/* ends here */


.bg_white{
	background-color:#fff;
}


.footer_img_bg_color{
	background-color:#badcf5;
}

.form_logo_color {
	color:#fff;
}

.footer_text_color{
	color:#fff ! important;
}
.footer_sec ul li a{
	color:#fff;
}

.propContnr2{
	/* background:url(../images/bacfade.png); */
	width:400px;
	float:left;
}

.txt_justyfy{
	text-align:justify;
}

/* color section ends here */

.header  .header_content  .float_right {
	display:block;
	float:right;
	text-align:right;
	content: ".";
	display: block;
}

.flt_right{
	float:right;
}

.gcard {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding-top: 10px;
    margin: 0 8px 10px 8px;
    padding: 5px 16px;
}

.header{
	height: 74px;
	box-shadow: 0 10px 10px rgba(0,0,0,.15);
}

.header  .header_content .font30px{
	font-size:30px;
}

.header  .header_content  .mrgn_top{
	margin-top: 3px;
}


.header  .header_content  .font30px .call_icon_circle {
    padding: 13px 10px 10px 10px;
    float: left;
    font-size: 26px;
    height: 25px;
    margin-right: 7px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
	box-sizing: content-box ! important;
}

.header  .header_content  .w230px {
		width: 136px;
		padding-left:20px;
	}
.header  .header_content .xxxxlarge {
    font-size: 1.5em;
	line-height: 20px;
}

.header  .header_content  .text_upper {
	text-transform:uppercase;
	font-size: 18px;
	box-sizing: content-box ! important;
	}
.line_space2px {
	    letter-spacing: 2px;
}
	
.clear{
	clear:both;
	content:"";
	display:table;
}

.border-right_lightgrey {
	border-right:1px solid #fff;
}

/* all section commen css */
.color_blck{
	color:#000;
}
.txt_size{
	font-size:20px;
}

.dsply_inline{
	display:inline;
}
.hidden_d_none{
	display:none;
}

.text-align_justy {
	text-align:justify;
}


.dspl_tble{
	display:table;	
}

.font_size_20 {
	font-size:20px;
}

.border_radus_5px{
	border-radius:5px;
}

.padding_15px{
	padding:15px;
}

 ul li a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
	
 }
.fram_width {
	position:relative;
	width: 1200px ! important;
    margin: 0 auto ! important;
	height:auto;
}

.txt_center {
	text-align:center;
}

.positn_absolt{
	position:fixed;
	z-index:100;
}

.font_13px{
	font-size:13px;
}

.color_grey {
	color:#666;
}

.margin_0px{
	margin:0px;
}

.padding_0px{
	padding:0;
}

.text_algn_justify{
	text-align: justify;
}

.flot_lft {
	float: left;
}

.flot_rt {
	float: right;
}


.dspl_flex {
	display: flex ! important;
}

.border_1px_solid_grey{
	border: 1px solid #ddd;
}

/* all commen section ends here */
/* nav bar css starts here  */

.navbr{	
	top:0px;
	width:100%;
	position:fixed;
	z-index:600;
	height:6em;
	background:#fff;
	color:#444;	
	border-bottom:1px solid #ececec;
    box-shadow: 0 3px 45px rgba(0,0,0,.15);
}

.myNav{
	min-width:1130px;
	max-width:1350px;
	margin:auto;
}

.flotLft{
	float:left;
}


.flotRt{
	float:right;
}

.logo{
	text-align:center;
	height:100%;
	width:180px;
	padding: 5px;
}
.logo img
	{
		height:78px !important;
	}

.logo hr{
	float:left;
	width: 68px;
	margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #fff;
}


.logo  h4{
    padding: 1px 5px;
    float: left;
    color: #ecab4c;
	background:#000;
	border-radius:60px;
}


.slider{
	width:100%;
	height:585px;
	position:relative;
}


.slider ul{
	position:absolute;
	margin:0;
	padding:0;	
	list-style:none;
}

.slider ul li{
	float:left;
}

.slider ul li img{
	background-size:cover;
	width: 100%;
	height:100%;
	
	
}
.navLst li{
	cursor:pointer;
    float: right;
    list-style: none;
    font-size: 1.2em;
    height: 85px;
    padding: 23px 15px 0px;
}

.navLst li:hover{
	background:#896633;
	color:#fff;
}


.navLst li:hover  hr{
	width:100% ! important;
	border-top: 1px solid #fff;
}

.navLst li hr{
	transition:0.5s;
	margin-top:0px;
	width:0;
}

.navLst{
	position:relative;
	margin-left:20px;
	width:65%;
	height:100%;
}

.Slidroverley{
	background:url(../images/bacfade.png);
	opacity:0.9;
	height:100%;
	width:100%;
}
.dorpDwn a{
	text-align:center ! important;
}

.dorpDwn{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 10px;
    padding-top: 10px;
	text-align:center ! important;
	min-width: 200px;
	display:none;
	position:absolute;
	top:100%;
	background:#fff;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation: rubber .40s linear;
	animation: rubber .40s linear;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	
}


@keyframes rubber{
	0%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
	40%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(.2);
		transform: scaleY(.2);
	}
	60%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(.4);
		transform: scaleY(.4);
	}
	80%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(1.2);
		transform: scaleY(1.2);
	}
	100%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@-webkit-keyframes rubber{
	0%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}
	40%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
	}
	60%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(.9);
		transform: scaleY(.9);
	}
	80%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(1.3);
		transform: scaleY(1.3);
	}
	100%{
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}


.navLst li:hover .dorpDwn{
	display:block;
	height:auto;
}
.dorpDwn a {
	transition:0.4s;
	font-size:1.1em;
    color: #626262;
    padding: 12px 16px;
    text-decoration: none;
    display: block ;
    text-align: left;
}

.dorpDwn a:not(:last-child) {
	border-bottom:1px solid #e9e9e9;
}

.dorpDwn a:hover{
	background: #e0c07d;
	color:#fff;
}


.space{
	height:100%;
	width:100%;
}






/* old navigation bar csss */

.cus_nav{
	-webkit-transition: .9s all;   
    -webkit-transition-delay: 9s; 
    -moz-transition: .9s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .9s all;   
    -ms-transition-delay: 9s; 
    -o-transition: .9s all;   
    -o-transition-delay: 9s; 
    transition: .9s all;   
    transition-delay: 9s;
	
}


.nav_lsit {
	padding-left: 0;
	margin-top:10px;
	list-style-type: none;
    margin: 0;
    overflow: hidden;
	content: "";
    display: table;
}



.nav_lsit li {
    float: left;
}

.nav_lsit li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
	font-size: 1.2em;
	
}

.image_booking{
	    text-align:right;
	    width: auto;
		height: auto;
		display: block;
		position: absolute;
		z-index:100;
		top: 0px;
		right: 0px;
}

.booking_text{
	position:absolute;
	width: 95px;
    margin-left: 23px;
    top: 10px;
	right: 7px;
    text-align: center;
    line-height: 1.2em;
	text-transform:uppercase;
	padding-bottom: 5px;
	font-size: 1.4em;
    text-shadow: 1px 1px rgba(0,0,0,.5);
	z-index:101;
}

.nav_container{
	position:relative;
}

.nav_container > a {
	text-decoration: none;
    cursor: pointer;
    outline: none;
	color: #fff;
}

.text_center {
	text-align:center;
}

.gcard {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding-top: 10px;
    margin: 0 8px 10px 8px;
    padding: 5px 16px;
}

/* nav bar hover and rest of the css */
.dropdown {
	
    position: relative;
    display: inline-block;
	
}

.dropdown button{
	color:#636060;
	background:#fff;
	padding: 25px 10px;
	border:0px;
	font-size: 16px ;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #d4c5a6;
    min-width:0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 3px;
	z-index:1000 ! important;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .5s all;   
    transition-delay: 5s; 
}

.dropdown-content a{
	color:#666 ! important;
	border-bottom: 1px solid #d2d1d1;
}

.dropdown-content a:last-child {
	border-bottom:0px;
}


.dropdown-content a:hover{
	color:#fff ! important;
	border-bottom: 0px;
	background-color: #132226;
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
}

.dropdown:hover .dropdown-content {
    display: block;
	min-width:195px;
    -webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .5s all;   
    transition-delay: 5s; 	
}


.fram_width:before {
	content: "";
    display: table;
	clear: both;	
}

.fram_width:after {
	content: "";
    display: table;
	clear: both;	
}

.clear:before {
	content: "";
    display: table;
	clear: both;	
}

.clear:after {
	content: "";
    display: table;
	clear: both;	
}


a.focus{
	color: #fff;
    text-decoration: none;
}
table.table_bdr tbody tr td {
	border-collapse: collapse;
	border: 1px solid #ccc ! important;
	padding: 5px 10px
}

table.table_bdr tbody tr:first-child {
font-size:14px;
}

/* book now button */
.book_now_button{
	width: 100px;
    height: 29px;
    border: none;
    color: #fff;
    font-size: 16px;
}	
/* end book now */

.navH1{
	margin:0px;
	padding:0px;
}

.widthlogo{
	width:200px;
	padding: 6px;
}

.homeContct{
	color:#fff;
	line-height: 74px;
    padding-left: 20px;
    padding-right: 20px;
}

.them_btn{
	outline: none;
    border-style: none;
	text-align: left;
	width:135px;
	color: #FFF;
	font-size:15px;
	line-height:20px;
    padding: 7px 18px;
	border-radius:2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	display: inline-block;
	transition: all .3s ease 0s;
}

.them_btn:after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 20px ! important;
    font-size: 1.25rem;
    right: 0;
    position: absolute;
    top: 6px;
    transition: all .3s ease 0s;
}

.them_btn:hover{
	outline:none;
	color:#fff;
	 padding: 7px 12px;
	 text-decoration:none;
}

.them_btn:hover:after {
    color: #FFF;
	right: 15px;
}

.slider{
	position:relative;
    padding-top: 76px;
}


.msgSectn{
    color: #414141;
    padding: 20px;
    margin-top: 20px ! important;
    font-family: arial;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
}


.bottomLbl{
	box-shadow: 0px 0px 50px #ccc;
    /* border: 1px solid #c8c8c8 ! important ; */
	font-family: 'Lobster', cursive;
	width:400px;
    border-radius: 50px;
    font-size: 30px;
    background: #fff;
    padding: 11px 39px;
    margin: auto;
    
}

.bottomLbl h1{
	font-size:30px;
	margin:0px;
}



.baaner{
	z-index: 584;
	width:100%;
    bottom: -19px;
	position:absolute;
}

.propContnr{
	width:550px;
}

.propContnr:nth-child(1){
	/* left:-130px; */
	left:0;
}

.propContnr:nth-child(2){
	/* top:-130px; */
	top:0;
	left:400px;
}

.propContnr:nth-child(3){
	/* left:930px; */
	right:0;
}

.prop{
	margin: auto;
	text-align:left ! important;
}

.prop img {
	width:500px;
	height:350px;
	display: inline-block;
	box-shadow: 0 50px 80px -40px rgba(0, 0, 0, 0.05), 0 25px 25px -20px rgba(0, 0, 0, 0.33);
	
}

.colorWite{
	color:#fff;
}

.textHding{

	position:relative;
}


.vrLin{
	height:35px;
	width:1px;
	background:#000;
	position:absolute;
	left: 100px;
    top:10px;
}

.hdng{
	font-weight:bold;
	font-size: 18px;
    border-bottom: 1px solid black;
	padding-left: 43px;
    text-align: left;
    width: 70%;
	font-family: 'Sansita One', cursive;
	font-family: 'Cinzel Decorative', cursive;
}

.para{
	padding:20px;
	text-align:center;
}

.proplistsec{
	margin-top:30px ! important;
	position:relative;
	height:560px;
	display:flex;
	justify-content:center;
}



.heading{
	text-align:center;
	position:relative;
	width:100%;
}

.RCircle{
	border-radius:10px;
	width:20px;
	height:20px;
}

.hedingHr{
	width:300px;
	margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #d4c5a6;
}

.botm{
	display: table-cell;
}

.head{
	font-family: Century;
}

.them_btn{
	text-align: left;
	width:135px;
	color: #FFF;
	font-size:15px;
	line-height:20px;
    padding: 7px 18px;
	border-radius:2px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	display: inline-block;
	transition: all .3s ease 0s;
}

.propBtn{
	right: 20px;
	border: 1px solid #e0e0e0;
	padding: 7px 22px;
	width:100px;
	background:#fff ! important;
	color:#fff ! important;
	box-shadow: 0px 4px 17px 1px rgba(0, 0, 0, 0.15) ! important;
}

.propBtn:hover{
	color: #fff ! important;
}

.propBtn:hover:after {
    color: #fff;
	right: 23px;
}



.propBtn:after {
    color: #fff;
}

.twoSecCntnr{
	height:auto;
	background:#eee;
	padding:20px 0;
}

.twoSec{
	width:600px;
	float:left;	
}

.animat2{
	height:510px;
}

.twoSec:nth-child(1){
	/* left:-130px; */
	left:0;
}

.twoSec:nth-child(2){
	right:0;
	/* left:730px; */
}

.twoSec img{
	width:560px;
	height:350px;
	display: inline-block;
}

.titleHead{
	font-family:Century;
	color:#484545;
	text-transform:uppercase;
}


.para2{
	width:550px;
	text-align:justify;
	
}

.prop2Btn{
	right:40px;
}

.footer{
	position:relative;
	/* background-image:url('../images/AerialDay.jpg');   */
	height:260px;
	width:100% ! important;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-size: 100% 100%;
}

.ftrCpyRt{
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 5;
    color: #fff;
}

.ftrSeprater{
	padding-left: 10px;
    border-left: 10px solid #484848;
}

.overley{
	z-index:0;
	position:absolute;
	background: url(../images/bacfade.png);
	background-color:#000;
	opacity:0.8;
	width:100%;
	height:260px;	
}

.navLnkLst{
	width:100%;
	position:absolute;
}

.ftrCntnt{
	background: url(../images/bacfade.png);
    display: flex;
    justify-content: center;
}

.footerList{
	cursor:pointer;
	padding: 0px 40px;
	list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 37px;
	opacity:1;
}

.share{
    display: inline-flex;
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    font-size: 35px;
    line-height: 4.5;
	list-style:none;
	opacity:1;
	color:#fff;
}

.share li {
	margin:25px;
}

.share li i{
	text-shadow: 0px 0px 19px rgb(235, 247, 105);
}

.header{
	background:#fff;
	z-index:300;
	min-width:100%;
	position:fixed;
	top:0;
}

.propTopImg{
	position:absolute;
	width:100%;
	height:350px;
}

.topOverley{
	position:absolute;
    width: 100%;
    height: 350px;
    background: #000;
    opacity: 0.85;
}

.propTop{
	height: 435px;
	padding-top:85px;
	position:relative;
}

.Propheading {
	text-align:center;
	padding:10px;
	position:absolute;
	bottom:-10px;
	width:100%;
	color:rgba(255, 255, 255, 0.80);
	background:rgba(255, 255, 255, 0.16);
}

.topTxtUl{
	padding-left:0px;
	margin:auto;
	position:absolute;
	width:1200px;
	color:#fff;
	margin-top:95px;
	list-style:none;
}

.topTxtUl li{
	position:relative;
	float:left;
	width:33.33%;
	list-style:none;
	padding-left:20px;
}

.txtCard{
    opacity: 0.4;
    display: inline-flex;
    width: 315px;
    height: 85px;
    background: #fff;
    box-shadow: inset 0px -41px 58px #000;
}

.propTxt{
	letter-spacing:2px;
	text-align:left;
	top:10px;
	left:105px;
	z-index:3;
	font-size:20px;
	position:absolute;
	color:#fff;
}

.propTxt i {
	font-size:50px;
}

.propAminities{
	display:flex;
	justify-content: space-between;
	margin:auto;
	width:1200px;
	margin-top:100px;
	margin-bottom:50px;
	list-style:none;
	display:none;
}

.propAminities li {
	display:none;
	float:left;
	height:auto;
	margin-left: 55px;
}
.amnityFa{
	font-size:50px;
	width:50px;
	 float:left;
}

.amnityPara{
    float:left;
	color:#777;
	width:165px;
}

.paraHead{
	color:#444;
	font-size:20px
}

.listDiv{
	width:100%;
	position:relative;
	height:250px;
}

.toAnimate{
	width:100%;
	position:absolute;
	box-shadow: 3px 2px 6px #999;
}

.toAnimate img{
	float:left;
}
.propList:nth-child(odd)  .listDiv  .toAnimate{
    left: -300px;
}

.propList:nth-child(even)  .listDiv  .toAnimate{
    right: -300px;
}

.propList{
	position:relative;
	height:250px;
    margin: 40px 20px;
}

.listImg{
	z-index: -1;
	width:33%;
	height:250px;
}

.listContent{
	width: 44%;
	height:250px;
	text-align:left;
	padding-left:30px;
	z-index:5;
}

.imgDiv img{
	margin-right:5px;
}
.imgDiv img {
	
-webkit-transition: all 1s ease; /* Safari and Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* IE 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 0.2s ease;
}
.imgDiv img:hover  {
box-shadow: 0px 0px 6px rgb(0, 0, 0);
-webkit-transform:scale(1.3); /* Safari and Chrome */
-moz-transform:scale(1.3); /* Firefox */
-ms-transform:scale(1.3); /* IE 9 */
-o-transform:scale(1.3); /* Opera */
transform:scale(1.3);
z-index:1000 ! important;
padding:0px 5px;
background:#fff;
}


.imgCover{
    margin-left: -23px;
    box-shadow: -2px 0px 0px #999;
    z-index: 3;
    float: left;
    width: 50px;
    height: 250px;
    background: #fff;
    left: 320px;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

.imgCoverInvrt{
    margin-left: -23px;
    box-shadow: -2px 0px 0px #999;
    z-index: 3;
    float: left;
    width: 50px;
    height: 250px;
    background: #fff;
    left: 320px;
	-webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
}

.btndiv{
	position:relative;
	height: 250px;
	width: 239px;
}

/* .toAnimate:hover .listBtn{ */
	/* width: 237px; */
	/* padding: 20px; */
	/* font-size: 22px; */
/* } */

.listBtn:hover{
	background:#684020! important;
}

.shdw{
    box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24);
}

.btnWrpr{
	width:0px;
	overflow:hidden;
	transition:.4s;
	position: absolute;
	bottom: 37%;
	right:-1px;
	font-size: 0px;
	width: 200px;
	font-size: 14px;
}

/* .toAnimate:hover .btnWrpr{ */
	/* width: 237px; */
	/* font-size: 14px; */
/* } */

.listBtn{
	cursor:pointer;
	overflow:hidden;
	right:0;
    color: #fff;
    line-height: 21px;
	transition:0.4s;
	width: 237px;
	padding: 15px;
	font-size: 22px;
}
.dn{
	opacity:0;
}

.awardSecLft{
	overflow:hidden;
	position:relative;
	bosrder:1px solid;
	width:60%;
	background:#fff;
	height: 610px;
}

.awrdRapDiv{
	width: 590px;
	position: absolute;
    margin-left: 20px;
	height: 610px;
}

.certftDiv{
	width:100%;
	margin:auto;
}

.certftDiv img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	transition: 0.2s ease;
}
.awrdRapDiv:hover .certftDiv img{
    filter: grayscale(0%);
}

.awardSecRt{
	width:38%;
	background:#fff;
	height: auto;
}

.awrd1head{
	font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	font-size: 25px;
    font-weight: bold;
}

.awrdPara{
	line-height: 23px;
    letter-spacing: 1.2px;
	 color: #5f5f5f;
    line-height: 23px;
    letter-spacing: 1.2px;
}

.paraDiv{
	margin:15px 0px;
}

.certftDiv table{
	border-right: 1px solid #d9d9d9;
	transition:1s;
	table-layout:fixed;
	width:70%;
	margin: auto;
}

.awrdRapDiv:hover .certftDiv table{
	box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24); 
}


.bgGrey{
	background: #d9d9d9;
}
.txtTd{
	padding:18px;
	text-align:right;
	font-size: 35px;
	letter-spacing:5px;
}


.slimTxt{
	font-size: 16px;
	font-weight: 100;
    font-family: "Segoe UI",Arial,sans-serif;
}



.reviv{
	height:600px;
}

.wrapq1{
    background: url(../images/testBack.png) no-repeat;
    background-size: 1200px 584px;
    background-position: center 86px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.rHead{
    font-family: 'Vollkorn',serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #080808;
    text-transform: uppercase;
    margin: 0 0 10px 0;
	-webkit-font-smoothing: antialiased;
}

.staticTxt{
	padding-top:30px;
	text-shadow: 0px 2px 2px rgba(172, 171, 171, 0.59);
}

.animate{
	padding-top:40px;
	width:65%;
	height:450px;
	margin:auto;
}


.slider2{
	position:relative;
	margin-top:40px ! important;
	}

.mySlides2{
	height:450px;
    width: 65%;
	position:absolute;
	background:transparent;
}

.head{
	font-family: 'Vollkorn',serif;
    font-size: 33px;
    line-height: 36px;
    font-weight: 400;
    color: #414141;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    -webkit-font-smoothing: antialiased;
	text-shadow: 0px 2px 2px rgba(172, 171, 171, 0.59);
}

.quote i{
	color:#d7930f;
}


.userPic{
	margin:35px auto;
	width:200px;
	height:200px;
	border-radius:50%;
	background-size:cover;
}
.quote{
	font-family: 'Vollkorn',serif;
    font-size: 20px;
    line-height: 30px;
    color: #777;
    quotes: none;
    display: block;
    margin: 0 0 20px 0;
	text-shadow: 0px 2px 2px rgba(172, 171, 171, 0.59);
}

.testUname{
	font-family: 'Vollkorn',serif;
    font-size: 20px;
    line-height: 30px;
    color:#d7930f;
    quotes: none;
    display: block;
    margin: 0 0 20px 0;
	text-shadow: 0px 2px 2px rgba(172, 171, 171, 0.59);
}



/* property pages css starts here  */

.TopPropImg{
	margin-top:84px;
	border-bottom: 1px solid #cfb58f;
    height: 560px;
	width:100%;
	position:relative;
}

.viewPropPic{
	cursor:pointer;
	position:absolute;
	font-size:16px;
	bottom:3%;
	left:3%;
	padding:10px;
	color:#444;
	background:#fff;
	transition:0.2s;
	border-radius:2px;
}


.topSecBtmMnu{
	position:absolute;
	bottom:0;
	height:100px;
	width: 64.9%;
    background: rgba(7, 7, 7, 0.72);
}

.topScCrd{
	position:relative;
	padding:20px 10px;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	font-size:23px;
	width:230px;
	height:100px;
}


.cardList ul li:nth-child(odd){
	background: rgba(137, 102, 51, 0.42);
}

.cardList ul li:nth-child(even){
	background: rgba(255, 255, 255, 0.42);
}


.cardList ul li:nth-child(odd) .crdOverley{
	background: rgb(137, 102, 51);
}

.cardList ul li:nth-child(even) .crdOverley{
	background: rgb(255, 255, 255);
}

.cardList ul li:nth-child(odd):hover .crdOverley{
	background: rgb(137, 102, 51);
	height:100px;
}

.cardList ul li:nth-child(even):hover .crdOverley{
	background:rgb(255, 255, 255);
	color:#000 ! important;
	height:100px;
}

.cardList ul li:nth-child(even):hover .topScCrd:nth-child(even){
	color:#333333 ! important;
	font-weight:600;
}

.crdOverley{
	position:absolute;
	bottom:0;
	width:230px;
	height:10px;
	transition: .3s ease;
}


.topScCrd p{
	margin:0px;
}

.topScCrd p:nth-child(2){
	font-size:20px;
}

.cardList ul{
	margin:0;
	padding:0;
}

.cardList ul li{
	float:left;
}
.cardList ul li:not(:last-child){
	margin-right: 93px;
}


.proptyFltBtn{
	color:#fff;
	background:#fff ! important;
    position: absolute;
    top: 3%;
    left: 67%;
    z-index: 2;
    min-width: 240px;
    padding: 12px;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    transition: all .3s ease 0s;
}

.proptyFltBtn i{
	font-size:40px;
}

.rsIcn{
	font-size:15px ! important;
	margin-right:2px;
}
.proptyFltBtn:hover{
	box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24); 
	opacity:1;
	padding: 12px;
	color:#444;
	background:#fff ! important;
	text-decoration:none;
	border-radius:5px;
}

.featrLst{
	display:flex;
	justify-content:center;
	text-align:center;
	font-size: 20px;
    font-weight: 100;
	font-family: "Segoe UI",Arial,sans-serif;
}

.featrLst ul li{
	float:left;
	list-style:none;
	padding:10px;
	display: -webkit-inline-box;
	margin:0px 10px;
}

.featrLstCrd{
	padding:5px;
}
.featrLstCrd i {
	font-size: 30px;
	display: -webkit-box;
}

.featrLstCrd{
	cursor:pointer;
	width: 170px;
	transition:0.2s;
}

.featrLstCrd:hover{
	color:#fff;
	font-weight: bold;
}

.featrLstCrd:hover  .featrLstCrd i{
	color:#fff ! important;
	font-weight: bold;
}

.featrLstCrd:hover  .featrLstCrd a{
	color:#fff ! important;
	font-weight: bold;
}


a {
	color:inherit;
}

a:hover {
	color:inherit;
	text-decoration:none;
}


.PropFrm{
	padding:75px 10px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    right: 40px;
    height: 480px;
    width: 380px;
}

.PropFrm ul{
	margin:0;
	padding:0;
}
.PropFrm ul li{
	list-style:none;
	float:left;	
}

.PropFrm ul li input{
	border:0;
	box-shadow: inset 0px 4px 0px #acabab;
	text-align:center;
    color: #484848;
	padding:7px;
	width: 170px;
}

.propFrmWrap label{
	margin-top:15px;
	color:#fff;
	font-size:20px;
}

.propFrmWrap input{
	border:0;
	text-align:center;
    color: #484848;
	padding:7px;
	width: 100%;
}

.txtLft{
	text-align:left ! important;
	padding-left:15px ! important;
}


.PropFrm ul li:first-child{
	margin-right:20px;
}


.PropFrm ul li label{
	margin-top:10px;
	color:#fff;
	font-size:20px;
}

 .propFrmWrap input[type="submit"] {
    margin-top: 30px;
    background: #fff;
    color: #132226;
    font-size: 20px;
    border: 0;
    padding: 15px;
	margin-top: 30px;
    background: #fff;
    color: #132226;
    font-size: 20px;
    border: 0;
    padding: 15px;
    box-shadow: inset 1px -31px 3px rgb(207, 207, 207);
}

 .propFrmWrap input[type="submit"]:hover{
	 box-shadow: inset 1px -28px 3px rgb(73, 65, 63);
	 background: #30231a;
	 color: #fff;
 }


 .propFrmWrap input[type="submit"]:disabled {
    background: rgb(239, 239, 241);
    box-shadow: inset 1px -31px 3px rgb(183, 183, 183);
    color: #838383;
 }

  .propFrmWrap input{
	  transition:0.5s;
  }
 

.addressSec{
	margin-top:30px ! important;
}
.addressSec p:first-child{
	font-size:30px;
}

.roomInfo table{
	width:100%;
}

.roomInfo table > tr > td  > img{
	cursor:pointer;
}

.roomInfo table , tr , td{
	border:1px solid #bdbbbb;
	text-align:center;
	font-size: 18px;
    font-weight: bold;
}
.roomInfo table tr:nth-child(1)  td:nth-child(1){
	width: 172px;
}

.roomInfo table tr  td:nth-child(1){
	padding:10px;
}

.roomInfo table tr:nth-child(1) td{
	color:#fff;
	padding:10px 30px;
}
.roomInfo table  tr:not(:nth-child(1)) td:not(:nth-child(1)) {
	padding:10px;
}

.prophead{
	height:80px;
	overflow:hidden;
	position:relative;
}

.propheadLft{
	position:absolute;
	width:30%;
	height:100%;
	background:#000;
	transform: skewX(136deg);
	margin-left:-40px;
}
.headContnr{
	position:absolute;
	width:100%;
	height:100%;
}
.iconContnr{
	padding-right:10%;
	width:30%;
	text-align:right;
	padding-top:18px;
    color:#fff;
    font-size: 45px;
}

.textContnr{
	padding-top:15px;
	padding-left:20px;
	font-size:35px;
	color:#fff;
}

.textLft{
	line-height:25px;
	padding:30px 0px;
	color: #636060;
	width:70%;
}

.propHeding{
	font-size:30px;
}

.propHeding i{
	padding:0px 20px;
}

.amntisSec{
	display:flex;
	justify-content:left;
	padding:30px;
}

.textList{
	border-left:1px solid #777;
	margin:25px;
	list-style:none;
	text-align:left;
	padding:0;
}

.textList li{
	padding-left:10px;
	padding:10px;
}

.textList li:first-child{
	    font-size: 20px;
}


.chckTim{
	text-align:center;
	width:250px;
	margin:100px 0px 0px 30px;
}

.clock {
	font-size: 70px;
}

.clckDtl p{
	padding-left:10px;
	font-size:25px;
	font-weight:bold;
}

.clckDtl p:nth-child(2){
	color:#777;
}


.vidSec{
	padding:30px;
	box-shadow: 0 50px 80px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0,0,0,.35);
}

.locnSec{
	padding:30px;
}

.locnSec iframe{
	box-shadow: 0 50px 80px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0,0,0,.35);

}
.bgDiv{
	background:#f2f2f2;
}

.qaContnr{
	cursor:pointer;
	padding:30px;
	padding:
}

.questn{
	margin:5px;
	padding:10px 20px;
	background:#fff;
	border:1px solid #ccc;
	box-shadow:inset 
}

.ans{
	background: #fff;
    border-radius: 0px 0px 10px 10px;
	margin:5px;
	padding:10px 20px;
	border:1px solid #ccc;
	border-top:1px solid #fff ! important;
	
}

.dsplN{
	display:none;
}

.qaActiv{
	box-shadow: 0 10px 20px -20px rgba(0,0,0,1), 0 25px 15px -20px rgba(0,0,0,1);
	color: #fff;
	font-size: 16px;
}


.clrGrn{
	color:#40bb44;
}


.feterListStickOn{
	transition:0.1s;
	width: 100% ! important;	
	min-width:1200px;
	position:fixed;
	padding:20px;
	top:0;
	right:0;
	left:0;
	z-index:1000;
	background:#fff;
	box-shadow: 0 10px 10px rgba(0,0,0,.15);
	font-weight:bold;
}

.feterListStickOn a{
	color:inherit;
}

.feterListStickOn i {
	transition:0.1s;
	display:none;
}

/* background: rgba(4, 12, 14, 0.86); */

/* #040C0E */

.navbar-nav > li > a {
	padding:0 ! important;
}

.navbar-default .navbar-nav > .active > a{
	color: #fff;
    background-color: inherit;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:inherit ! important;
	color:#fff ! important;
}
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#fff ! important;
}

.navbar-default .navbar-nav > li:hover .navbar-nav  li a{
	color:red ! important;
}

.forFix{
	width:100%;
	height:82px;
	position:relative;
}

.forFix {
	display:flex;
	justify-content:center;
	align-items:center;
}

/* css for card om index page  */

.cardFxCntr{
	width:100%;
	min-height:400px;
	height:auto;
	background:url(../images/ss.jpg);
	background-position:bottom;
	background-attachment:fixed;
	background-size:cover;
}

.cardFxCntrContct{
	width:100%;
    height: 340px;
}

.cardFx{
	width:23%;
	height:auto;
	float:left;
	margin:10px;
	margin-top:80px;
	display:flex;
}

.setComn{
	display:flex;
	justify-content:center;
}

.circle_icon{
	position:absolute;
	top:-45px;
	left:35%;
	text-align:center;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.cardFxTxt{
	width:90%;
	padding-top:80px ! important;
	text-align:center;
	margin:auto;
}

.fa_line_height {
    line-height: 90px ! important;
}

.text_size_fa_card {
    font-size: 1.7em;
    margin-top: 8px;
}

.text_strach {
    -webkit-transform: scale(.8,.9);
    -moz-transform: scale(.8,.9);
    -ms-transform: scale(.8,.9);
    -o-transform: scale(.8,.9);
    transform: scale(.8,.9);
}

.cardFx:hover .flipr {
    -ms-transform: rotateY(360deg); /* IE 9 */
    -webkit-transform: rotateY(360deg); /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
		transition: 1s;
}
.flipr{
	transform-style: preserve-3d;
	position:relative;
	width:100%;
	height:auto;
	display:flex;
    /* -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */ 
    /* backface-visibility: hidden;	 */
	background:#fff;
}

.mrProp{
	height:400px;
	position:relative;
	width:47%;
	float:left;
	margin:15px;
}

.mrProp img{
	position:absolute;
	width:100%;
	height:100%;
}

.h3Txt{
	margin:0px 30px;
	color:#fff;
	width:90%;
	transform: translate(0, 310px);
	-webkit-transform: translate(0, 310px);	
	position:absolute;
	border-bottom:2px solid;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition:0.6s;	
}

.mrProp:hover  .h3Txt{
	transform: translate(0, 40px) ! important;
	-webkit-transform: translate(0, 40px) ! important;
}

.mrPropOrley{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.mrPropOrleyHovr{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.mrProp:hover .mrPropOrleyHovr{
    background: rgba(0, 0, 0, 0.49);
}
.mrProp:hover .imgpara{
	opacity:1;
}



.imgpara {
	position:absolute;
	-webkit-transform: translate(0, 120px);
	z-index:10;
	color:#fff;
	padding:20px;	
    transition:0.4s;
	opacity:0;
	 -webkit-transition-delay: 8s; 
    transition-delay: 8s;
}

.pric{
	position:absolute;
	color:#fff;
	padding-left:30px;
	transform: translate(0, 330px);
	-webkit-transform: translate(0, 330px);
	transition:0.8s;
}

.mrProp:hover .pric{
	transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);	
}

.mrProp:hover .them_btn{
	opacity:1;
}

.mrProp .them_btn {
	opacity:0;
	position: absolute;
    -webkit-transform: translate(-2px, 330px);
}

.aboutPgTop{
	width:100%;
	position:relative;
	height:50%;
	margin:auto;
}

.aboutPgTop img{
	width:100%;
	height:500px;
}

.imgCtnrAbutUs{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/IMG_5119.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
	background-position: center;
}


.lftCrnTxt{
	position:absolute;
	bottom:0;
	left:5.7%;
	background:#a8acb7;
	height:auto;
	width:30%;
	color:#fff;
	font-size:25px;
	padding:30px;
	text-transform:uppercase;
}

.abutTwoSec{
	float:left;
	width:50%;
	height:auto;
	padding:40px 20px;
	text-align:center;
}

.abutTwoSec:nth-child(1){
	border-right:1px solid #ccc;
}

.abutTwoSec h5{
	text-align:left;
	border-bottom:1px solid #ccc;
}

.H70{
	display:flex;
	justify-content:center;
	align-items:center;
	height:70px;
}

.dsgn{
    background: #ccc;
    width: 27px;
    color: #ccc;
}

.abutTwoSecPara{
	width:50%;
	float:left;
	padding:30px 20px;
	text-align:justify;
	line-height:25px;
	color:#000;
}

.abutOneSecPara{
	width:100%;
	float:left;
	padding:30px 20px;
	text-align:justify;
	line-height:25px;
	color:#000;
}	


.AbtTxtCrd{
	justify-content: center;
	display:flex;
	min-height:400px;	
	background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00ffffff', EndColorStr='#ffffffff');
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

 .AbtTxtCrd  > .AbttxtCard{
	 background:#fff;
	 float:left;
	 width: 21%;
     margin: 24px;
	 box-shadow: 0 4px 16px #e2e2e2;
	 position: relative;
 }
 
 
.H70AbtTop{
    margin-top: 0px;
    margin-bottom: 10px;
	min-height:70px;
	display: flex;
    justify-content: center;
    align-items: center;
}

 
.H70{
    margin-top: 20px;
    margin-bottom: 10px;
	background:#fff;
	min-height:92px;
	color: #fff;
	padding: 7px 15px;
	background-color: #a8acb7;
}


.AbtTxtCrd  > .AbttxtCard  > .Abttext{
	padding:10px;
	line-height:25px;
	text-align: justify;
}

.abtOurTem > h5{
	text-align:left;
	border-bottom:1px solid #ccc;
}

.abtOurTem{
	text-align:center;
}

.abtOurTemCards{
	display:flex;	
}

.abtOurTemCards .abtOurTemUser{
	display:flex;
	margin:8px;
	margin-top:25px;
	float:left;
	width:32%;
	text-align:center;
	padding:0px 10px;
	transition:0.1s;
}

.abtOurTemCards .abtOurTemUser img{
	filter:grayscale(100%);
	width:70%;
	height:200px;
}

.abtOurTemUser p{
    color: #8e8c8c;
	padding:15px;
}

.abtOurTemUser h2 i{
	margin:10px;
}


.abtOurTemUser:nth-child(2){
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	
}



.abtOurTemUser:hover img{
	filter:grayscale(0%);
}

.abtOurTemUser:hover {
	background:#e7eaef;
	border:none;
}
.abtOurTemUser:hover .innrCard{
	-webkit-box-shadow: 2px 3px 7px rgba(0,0,0,.3);
    box-shadow: 2px 3px 7px rgba(0,0,0,.3);
	background:#fff;
}

.abtOurTemUser:hover  .fa-facebook{
	color:#4e71a8;
}

.abtOurTemUser:hover  .fa-twitter{
	color:#1cb7eb;
}

.abtOurTemUser:hover  .fa-linkedin{
	color:#1686b0;
}

/* css for inpiut floting lable */

.myinputGrp{
	position:relative;
}

.myinputGrp label{
    font-weight: 100 ! important;
    color: #a4a4a4;
    position: absolute;
    bottom: 0px;
    margin: 0;
    left: 10px;
    font-size: 16px;
    transition: 0.1s;
}


.myinputGrp input,select:focus{
	outline: 0px solid transparent;
	transition:.0s;
	background:transparent;
}

.myinputGrp input,select{
background:transparent;
text-align:center ! important;
text-align-last:center;
}


.hireMe{
	padding-top:15px;
	height:266px;
}

.inpt_div{
	width: 95%;
    margin: auto;
}

.hire_deading{
    width: 40%;   
	color:#fff;
}

.hire_deading h2{
    vertical-align:middle;
    text-align:center;
	line-height: 220px;	
}

.rqstBck{
    padding: 7px 2em;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
	border-radius:2px;
}

.requestHead{
	outline:none;
	color: #fff;
    font-size: 20px;
    text-align: center;
}

.inpt_frmOvly{
	outline:none;
}
.rqstBck:hover{
	color:#fff;
}


.hire{
    display: flex;
}

.hire_form{
	width:100%;
	background:url(../images/testBack.png);
	padding: 1em 3em;
}

.hire_form form{
	width: 75%;
    margin: auto;
}

.hire_form div{
    margin-right: 2em;
}

.hire_deading h1{
    color: #fff;
    font-weight: 300;
}
4

.submitBtn{
    margin: 0 auto !important;
}

.hire_form label{
    font-size: 16px;
    font-weight: 300;
}

.hire_form input[type="email"],
input[type="text"],select{
    padding-top: 20px;
	width: 100%;
    border: none;
    border-bottom: solid 1px #888;
}


.vRHringHd img{
		width:100%;
		height:300px;
		position:absolute;
		filter:grayscale(1);
}

.vRHringHd{
	position:relative;
	width:100%;
	height:300px;
	overflow:hidden;
}

.vRHringHd .vRHringOvrLy{
	position:absolute;
	background:rgba(168, 172, 183, 0.82);    
	width:50%;
	height:300px;
	-ms-transform: skew(30deg); /* IE 9 */
    -webkit-transform: skew(30deg); /* Safari */
    transform: skew(30deg);
	left:-90px;
	transition:0.5s;
}

.vRHring:hover  .vRHringOvrLy{
	background:rgba(21, 158, 255, 0.82);
}


.vRHringHd .vRHringTxt{
    padding-top: 50px;
    padding-left: 30px;
    position: absolute;
    width: 50%;
    height: 300px;
    color: #fff;
    font-size: 70px;
    transform: scale(1,1.5);
    -webkit-transform: scale(0.9,1.8);
	-webkit-transform:scale(0.9,1.8);
	-moz-transform:scale(0.9,1.8);
	-ms-transform:scale(0.9,1.8);
	-o-transform:scale(0.9,1.8);
	
}
	
.hringForm input , select{
    width: 100%;
    height: 45px;
    margin: 10px 29px;
	padding-left:30px;
}	

.hringForm {
	padding-top:30px;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00ffffff', EndColorStr='#ffffffff');
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));	
}
	
.hringForm input[type="submit"]{	
	color:#fff;
	border-style:none;
	border:none;
	font-size:25px;
	border-radius:3px;
}

.hringBtn:hover{	
	transition:0.5s;
	background:#b03428 ! important;
}

/* contact us page css starts from here 	 */

.contctTop{
	padding-top: 85px;
	width:100%;
	height:485px;
	position:relative;
}

.contctTop > .imgCtnr{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/contactBg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;	
}
	
	
.loctinMap{
	padding:10px;
	font-size:30px;
	text-align:center;
	color:#fff;
	margin:0px;
}	

.Mapoverlay{
   background:transparent; 
   position:relative; 
   width:100%;
   height:530px; /* your iframe height */
   top:530px;  /* your iframe height */
   margin-top:-530px;  /* your iframe height */
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.contctMsg{
	font-weight: bold;
    color: #fff;
    top: 50%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.contctMsgHtxt{
    background: rgba(0, 0, 0, 0.56);
	font-size:80px;
	padding:5px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

.bxShdw{
	background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00ffffff', EndColorStr='#ffffffff');
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
}

.gustInqir{
	text-align:center;
}


.gustInqirH2{
	width:100%;
	padding:12px;
	font-size:25px;
	text-align:center;
	color:#fff;
	border-radius:2px;
}

.wrldbg{
	background:url(../images/testBack.png);
}

.Inqir_fram_width{
	float:left;
	width:100%;
	margin:auto;
}
.gustInqirInpt{
	background:transparent;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #ccc;
}

.gustInqirTxtAria{
    padding-left: 10px;
    width: 100%;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #ccc;
}

.form-group{
	width: 100%;
	float:left;
}

.form-group > label{
	text-align:left;
	display: block ! important;
}

.inqirSbmtBtn{
	margin-top:20px;
	width:200px;
	color: #fff;
    border-style: none;
    border: none;
    font-size: 25px;
    border-radius: 3px;
}


/* our clints css starts from here  */

.imgCtnrOurClints{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/keyBrd.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
	background-position: center center;
}

.imgCtnrFood{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/IMG_5109.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
	background-position: center center;
}

.imgCtnrFood2 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    position: absolute;
    height: 400px;
    background: url(../images/privacy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.imgCtnrFood1{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/IMG_5108.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
	background-position: center center;
}

.imgBokNow{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:100%;
	position:absolute;
	height:400px;
	background:url(../images/Book-Now.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
	background-position: center center;
}




.OurClntTopPara{
	width:98%;
	float:left;
	padding:30px 20px;
	text-align:justify;
	line-height:25px;
	color:#000;
	margin:auto;
}

.btmDsgn{
	text-align:center;
	margin:auto;
	width:100%;
}

.btmDsgn h5{
	text-align:left;
	border-bottom:1px solid #ccc;
}


/* css for footer subscribe form */


.sec7 ul {
	margin-bottom: 0px;
	padding-left:140px;
}

.sec7 ul li {
	width:30%;
	float:left;
    display: list-item;
    text-align: -webkit-match-parent;
	list-style:none;
}

.sec7 ul li:nth-child(2) {
	width:60%;
	padding-top: 12px;
}

.form_logo_text_color {
	color:#fff;
}

.font_h1_size {
	font-size: 25px;
}

.font_t2_size {
font-size: 12px;
}



.sec7 input[type=text]{
	font-size: 13px;
	outline: 0;
	width: 70%;
	padding: 9px;
	margin-right: 10px;
	vertical-align: middle;
	background-color: #fafafa;
    border: 1px solid #ccc;
}





.sec7 button:hover {
	box-shadow: 2px 3px 4px rgba(0,0,0,.5);
	transition: background-color .5s, color .5s, box-shadow .5s, border-bottom .5s, color .5s;
	outline:none;
	
}

.sec7 button:focus{
	    border: 1px solid rgba(255, 255, 255, 0);
		outline:none;
}

/* latest css for static pages date 4/25/17 */

.propName{
	border-bottom:1px dotted #ccc;
	line-height:45px;
}

.propName i {
	color:orange;
}

.aside{
	justify-content:center;
	display:flex;
	background:#f2f2f2;
	padding:20px;
}

.BstTwoSec{
	text-align:center;
	width:48%;
	float:left;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	padding: 35px;
    background: #fff;
}

.BstTwoSec:nth-child(1){
	margin-right:20px;
}
.BstTwoSec:nth-child(2){
	margin-left:20px;
}

.contctNum{
    font-size: 50px;
    color: #696767;
}

/* css for book-now  */

.bkpara {
	padding: 7px 10px;
    font-size: 14px;
    border: 1px dotted #a8acb7;
    margin: 10px;
    border-radius: 40px;
}

.mrgn0{
	margin:0 ! important;
}

.sec7_form{
	height:65px;
}

.listHead{
	font-weight: bold;
	color: #635f5f;
	text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.75);
	}
	
.TextTwoSec{
	display:flex;
}

.ClintBtnDiv{
	position:absolute;
	bottom:20px;
	text-align:center;
	width:100%;
}

.twoImgClint{
	display:flex;
	padding:0;
	margin-bottom:45px;
}

.twoImgClint li{
	margin:10px;
	list-style:none;
    box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.17);
}

.dtlSec{
	padding:10px;
}


.videoWrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.video1{
	margin:20px;
	max-width: 45%; 
	float: left;
	box-shadow: 0 50px 80px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0,0,0,.35);
}
.video2{
	max-width: 45%; 
	float: right;
	margin:20px;
	box-shadow: 0 50px 80px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0,0,0,.35);
}



.wrapper2 {
    max-width: 120em;
    margin: 0 auto;
    display: flex;
    padding: 1em 0;
}


.wrapper2, .wrapper3 {
    width: 100%;
}

.guest_form {
    margin-right: 1em;
}
	
.guest_form, .contact_map {
    width: 50%;
	background: url(../images/testBack.png);
}

.guest_form h2 {
    text-align: center;
    font-size: 2.4em;
    padding-top: 10px;
    font-weight: normal;
}
.formForGuest {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 4em;
}

.hireInput{
    padding: 0.4em 0em;
    border: none;
    border-bottom: solid 1px #888;
    background: transparent;
    font-size: 1.2em;
	outline:none;
}

.formForGuest div{
	margin:5px 0;
}

.g_submit {
    width: 15em;
    text-align: center;
    margin: 0 auto;
}



.g_submit button {
    border: none;
    width: 100%;
    font-size: 1em;
    padding: 0.5em 0.3em;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
	outline:none;
}

/* css for overley */

.container4Sngl{
	margin: auto;
    position: relative;
    width: 800px;
    padding: 0px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    user-select: none;
    -webkit-user-drag: none;
}
.slider_wrapper4Sngl{
	margin:auto;
	width:800px;
	overflow: hidden;
	position:relative;
	height:380px;
	top:auto;
	user-select: none; -webkit-user-drag: none;
	
}
.imagList4Sngl{
	background:#fff;
	width:14560px;
	position: relative;
	height: 380px;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;.
	user-select: none; -webkit-user-drag: none;
}


.sliderBtm{
    width: 800px;
    background: #fff;
    text-align: left;
    font-size: 15px;
    top: 430px;
	padding:8px 40px;
	color: #4a4a4c ! important;
	height:auto;
}

.nvgt4Sngl{
	position:absolute;
	top: 220px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
	user-select: none; -webkit-user-drag: none;
}
.nvgt4Sngl:hover{
	opacity: 0.3;
	user-select: none; -webkit-user-drag: none;
}
.nvgtleft4Sngl{
	left: 0px;
	user-select: none; -webkit-user-drag: none;
	font-size: 30px;
}
.nvgtright4Sngl{
	right: 0px;
	user-select: none; -webkit-user-drag: none;
	font-size: 30px;
}

.fa-chevron-circle-left{
	opacity: 0.8;
}

.fa-chevron-circle-right{
	opacity: 0.8;
}

.slider_wrapper4Sngl2 {
    width: 800px;
    position: relative;
    height: auto;
    top: auto;
    user-select: none;
    -webkit-user-drag: none;
    margin: auto;
    overflow: hidden;
}

.slider-content4Sngl {
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 10px;
}


.PropSlidr4Sngl .closebtn4Sngl {
    position: absolute;
    right: 10px;
    font-size: 60px;
    line-height: 80px;
    z-index: 10;
    margin: 3%;
}

.PropSlidr4Sngl .closebtn4Sngl {
    position: absolute;
    right: 10px;
    font-size: 60px;
    line-height: 80px;
    z-index: 10;
    margin: 3%;
}
.PropSlidr4Sngl a {
	z-index: 20;
    text-decoration: none;
    font-size: 20px;
    color: #4c4c4c;
    display: block;
    padding: 1%;
    transition: 0.05s;
}


.PropSlidr4Sngl {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* background-color: rgba(0, 0, 0, 0.952941); */
	background-color: #fff;
    overflow-x: hidden;
    transition: 0.05s;
}

.slider-content4Sngl {
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.imagList4Sngl2 {
    width: 14560px;
    position: relative;
    height: 475px;
    float: left;
    -webkit-user-drag: none;
    background: rgb(255, 255, 255);
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.slidesjs-navigation{
	position:absolute;
	top: 220px;
	height: 50px;
	width: 30px;
	color:#000;
	background:#fff;
	width:auto;
	z-index:20;
}

.slidesjs-next{
    right: 0;
}

.porpSldrLst li img{
width: 100%;
height: 475px;
}

.porpSldrLst{
	padding:0;
}

.slidesjs-pagination-item{
	display:none;
}

.slider_text{
	position:absolute;
	z-index:510;
    background: rgba(137, 102, 51, 0.61);
	padding:1em 3em;
	color:#fff;
	bottom: 20px;
    left: 20px;
}

.mySlides{
	position:relative;
	align-items: center;
	height:500px;
	display:flex;
	justify-content:left;
}

.mySlides img{
	height:500px ! important;
}

.sldrTxt{
	font-size:30px;
	text-transform:capitaliz;
	text-align:center;
	font-family: -webkit-pictograph;
}

.topDropForm{
	display:none;
	position:absolute;
	top:84px;
	width:100%;
	background-size:cover;
	height:500px;
	z-index: 510;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation: rubber .60s linear;
	animation: rubber .60s linear;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
    box-shadow: 0 50px 80px -40px rgba(0, 0, 0, 0.05), 0 25px 25px -20px rgba(0, 0, 0, 0.33);
}

.topDropFormOvly{
	background:#a8acb7 url('../images/section_bg.png');
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

.topDropFormCntnr{
	background:url('../images/TopFrmBg.jpg');
	height:70%;	
	-webkit-box-shadow: 0px 1px 10px 2px rgba(50,50,50,0.15);
    -moz-box-shadow: 0px 1px 10px 2px rgba(50,50,50,0.15);
    box-shadow: 0px 1px 10px 2px rgba(50,50,50,0.15);
}

.NoBg{
	background:none ! important;
}

.NoBg > form  > div > .myinputGrp{
	background:#e7e7e7;
	float:none;
	width:100% ! important;
    margin-top: 70px ! important;
}

.NoBg > form  > .myinputGrp > label{
	color:#525252;
}

.bttoms{
	margin-top:190%;
}


.NoBg > form  {
	display:flex;
	justify-content;
}

