	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style="background:#ccc;padding:50px 0px;">
			<table cellspacing="0" cellpadding="0" border="0" width="700" style="margin:auto;background:#fff;table-layout:fixed; color:#22615a;border-radius: 5px 5px 0px 0px;">
				<tbody>
					<tr>
						<td colspan="6" style="height: 25px;">
																				
						</td>
					</tr>				
					<tr style="background:#060115;color:#fff;height: 35px;">
						<td colspan="6" style="padding-left:30px;"><a href="http://nodal.direct" target="_blank"><img src="http://www.reputize.in/sitepanel/assets/pages/img/login/nodal-logo.jpg" width="100" /></a></td>
					</tr>
					<tr style="color:#3f51b5;height: 50px;">
						<td colspan="6" style="padding-left:30px;">Please Review the last login details.</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2" style="padding-left:30px;background:#04a999;border-bottom:1px solid #0c9e90;border-radius: 5px 0px 0px 0px;letter-spacing: 1px;">User ID :</td>
						<td colspan="2" style="background:#04a999;padding:5px;border-bottom:1px solid #0c9e90;color: #C8FCFF;letter-spacing: 2px;border-radius: 0px 5px 0px 0px;">baikunthManali</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2" style="padding-left:30px;background:#04a999;border-bottom:1px solid #0c9e90;letter-spacing: 1px;">IP Address :</td>
						<td colspan="2" style="background:#04a999;padding:5px;border-bottom:1px solid #0c9e90;color: #C8FCFF;letter-spacing: 2px;">223.190.70.200</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2" style="padding-left:30px;background:#04a999;border-bottom:1px solid #0c9e90;letter-spacing: 1px;">Date Of Login :</td>
						<td colspan="2" style="background:#04a999;padding:5px;border-bottom:1px solid #0c9e90;color: #C8FCFF;letter-spacing: 2px;">2017-06-27</td>
						<td></td>
					</tr>
					<tr>
						<td style="background:#060115;"></td>
						<td colspan="2" style="padding-left:30px;background:#04a999;border-bottom:1px solid #0c9e90;letter-spacing: 1px;">Time of Login :</td>
						<td colspan="2" style="background:#04a999;padding:5px;border-bottom:1px solid #0c9e90;color: #C8FCFF;letter-spacing: 2px;">05:15:05pm</td>
						<td style="background:#060115;"></td>
					</tr>
					<tr>
						<td style="background:#060115;"></td>
						<td colspan="2" style="padding-left:30px;background:#04a999;letter-spacing: 1px;">Customer ID</td>
						<td colspan="2" style="background:#04a999;padding:5px;color: #C8FCFF;letter-spacing: 2px;"> 2</td>
						<td style="background:#060115;"></td>
					</tr>
					<tr>
						<td style="background:#060115;"></td>
						<td colspan="2" style="padding-left:30px;background:#060115;padding:5px;color:#fff;"></td>
						<td colspan="2" style="background:#060115;padding:5px;color:#fff;"></td>
						<td style="background:#060115;"></td>
					</tr>					
					<tr>
						<td style="background:#060115;"></td>
						<td colspan="2" style="padding-left:30px;background:#060115;padding:5px;color:#fff;"></td>
						<td colspan="2" style="background:#060115;padding:5px;color:#fff;"></td>
						<td style="background:#060115;"></td>
					</tr>					
					<tr>
						<td style="background:#060115;"></td>
						<td colspan="2" style="padding-left:30px;background:#060115;padding:5px;color:#fff;"></td>
						<td colspan="2" style="background:#060115;padding:5px;color:#fff;"></td>
						<td style="background:#060115;"></td>
					</tr>
	
					<tr style="background:#060115;">
						<td colspan="2" style="padding:10px;color:#fff;"><span style="font-size:20px;">Thank You</span></td>
						<td colspan="2"></td>
						<td><small>Powered by</small></td>
						<td><a href="http://nodal.direct" target="_blank"><img src="http://www.reputize.in/sitepanel/assets/pages/img/login/nodal-logo.jpg" width="70" /></a></td>			
					</tr>
					<tr>
						<td colspan="6" style="padding:10px;"></td>
					</tr>					
					

					
				</tbody>
			</table>
		</body>
	</html>