.yellowbg {
	background-image: url(images/yellow-butt-bg.gif);
	background-repeat: repeat-x;
}
.maroon-bg {
	background-color: #9a170f;
	color: #FFFFFF;
}
#white  a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.white {
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
}
a:hover {
	color: #3E72DF;
}
#white a:hover {
	color: #9A170F;
	text-decoration: none;
}
.left-padd {
	padding-left: 18px;
	padding-top: 5px;
}
.yellowtxt {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #FBCA32;
}
.maroon-line-bg {
	background-image: url(../images/maroon-line-bg-.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.marooncorner {
	background-image: url(../images/maroon-line-lt.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.find-item {
	background-image: url(../images/find-item-bg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #faedb4;
}
.steps-btm-bg {
	background-image: url(../images/steps-btm-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.contact-sell {
	background-image: url(../images/find-item-bg1.gif);
	background-repeat: no-repeat;
}
.agree-price {
	background-image: url(../images/agree-price-bg.gif);
	background-repeat: no-repeat;
}
.treb16 {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	color: #c32a00;
}
#steps {
	font-size: 10px;
	padding-left: 10px;
	padding-right: 3px;
}
.absmid { vertical-align:middle;
}
.txtfield {
	font-size: 11px;
	background-color: #FAEDB4;
	border: 1px solid #CFA658;
}
.txtfieldadmin {
	font-size: 11px;
	background-color: #FAEDB4;
	border: 1px solid #CFA658;
}

form {
	display: inline;
}
.link {
	font-size: 10px;
	font-weight: bold;
	color: #9A170F;
	text-decoration: none;
}

#cate-link a {
	font:bold 11px "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	color: #e00d00;
	text-decoration: none;
	text-align:left;
	border-bottom: 1px dotted #CCCCCC;
	display: block;
}




li {
	list-style-image: url(../images/cate-bullet.gif);
}
ul {
	display: inline;
}
#bluelink a{
	color: #2300AE;
	text-decoration: none;
	background-image: url(../images/all-cate-bg.gif);
	background-repeat: no-repeat;
	padding-left: 15px;
	font-weight: bolder;
}
.classi-bg {
	/*background-image: url(../images/classified-bg.gif);*/
	background-color: #9a170F;
}
.classi-td {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-size: 10px;
	text-align: left;
}
a {
	color: #000000;
	text-decoration: none;
}
.rtbrdr {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #CCCCCC;
}
.imgbrdr {
	padding: 1px;
	border: 1px solid #9A2E39;
}
#country li {
	list-style-image: url(../images/bullet.gif);
	display: block;
	padding-left: 20px;
}
#country a {
	list-style-image: url(../images/bullet.gif);
	display: block;
	font-weight: bold;
	color: #112D94;
	text-transform: capitalize;
}
#featured {
	font-family: "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	font-size: 11px;
	font-weight: bold;
	text-transform: capitalize;
}
#featured a {
	color: #9A170F;
	text-decoration: none;
	font-weight: normal;
	text-transform: lowercase;
	padding-right: 2px;
}
#poll {	font-size: 10px; color: #9000ff;	padding-left: 12px;	padding-right: 7px;}
.lite { font-size: 10px; color: #999999;}

.navBarTxt { width:16px; height:15px; border: 1px solid #666665; font: bold 10px Arial, Helvetica, sans-serif; color: #E13E00; text-decoration: none; padding:0px 4px 1px 4px; }
.navBarTxt:hover { width:16px; height:15px; background-color:#9A170F; font: bold 10px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; padding:1px 4px 1px 4px; border: 1px solid #666665; }
.navBarTxt1 { width:16px; height:15px; background-color:#9A170F; font: bold 10px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; padding:1px 4px 1px 4px; border: 1px solid #666665; }
.tabIndex { display:block; margin-bottom:10px; padding: 3px; border-bottom:1px solid #dadada; width: 96%; text-align: center; }
.tabs { text-align: center; padding:5px 0px 5px 15px; }
.floatRight{ float:right; }
.floatLeft{ float:left; text-align:left; }.tabIndex1 {
	display:block;
	margin-bottom:10px;
	padding: 3px;
	width: 96%;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
}
.txt {
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
}
.grey {
	color: #666666;
}
.brdrbtm {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
#country a:hover {
	display: block;
	color: #0083BF;
}
#cate-link a:hover {
	color: #000000;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	display: block;
	background-color: #FEFBED;
}
.button {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #F79321;
	border: 1px solid #D42C2C;
	cursor: hand;
}
/******************* *************************/

#subcate-link ul{
	display:block;
}
#subcate-link a {
	font:bold 11px "Trebuchet MS", Arial, sans-serif, helvetica, Verdana;
	color: #e00d00;
	text-decoration: none;
	text-align:left;
	border-bottom: 1px dotted #CCCCCC;
	display: block;
}
.red{
	font-weight: bold;
	color: #9a170F;
}
a.menu2{
	color: #990000;
	font-weight: bold;
}
a.menu2:hover{
	color: #ff0000;
	font-weight: bold;
}

.lightGrayBg {
	background-color: #f8f8f8;
	border-bottom:1px solid #e6e6e6;
	padding:2px 4px 0px 4px;
	background-image: url(../images/gray-bg.gif);
	height: 20px;
}
.lightGreenBg {
    font-weight: bold;
	border-bottom:1px solid #ff9900;
	padding:2px 4px 0px 4px;
	background:#f79423 url(../images/yellow-butt-bg.gif) top center repeat-x;
	height: 22px;
}

.lightBlueBg{
	background-color: #E6E9FF;
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.BlueBg{
	font-weight: bold;
	background-image: url(../images/c-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg1{
	font-weight: bold;
	background-image: url(../images/y-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg2{
	font-weight: bold;
	background-image: url(../images/win-tp-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg3{
	font-weight: bold;
	background-image: url(../images/t-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg4{
	font-weight: bold;
	background-image: url(../images/r-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg5{
	font-weight: bold;
	background-image: url(../images/p-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg6{
	font-weight: bold;
	background-image: url(../images/o-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg7{
	font-weight: bold;
	background-image: url(../images/m-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.bg8{
	font-weight: bold;
	background-image: url(../images/yellow-butt-bg.jpg);
	border-bottom: 1px solid #666666;
	padding:2px 4px 0px 4px;
	height: 20px;	
}
.lightBorder2{
	border:1px solid #000000;
	padding:2px;
}
