.form1
	{
		border:1px solid #5ed0b9;
		width:650px;
		background:#ecf9f7;
		border-radius:5px;
		box-shadow:1px 1px 1px 1px #a3e4d7;
	}
.form1 h3
	{
		font-size:30px;
		color:#0f705d;
		text-shadow:1px 1px 1px #47c9af;
	}
.fitter
	{
		width:410px;
	}
.name_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.email_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.select_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.date_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.phone
	{
		width:405px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
		background:white;
	}
.city_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.country_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.checkbox
	{
		width:15px;
		height:15px;
	}
.radio
	{
		width:15px;
		height:15px;
	}
.submit
	{
		width:200px;
		height:40px;
		background:#ff78bb;
		color:white;
		border:none;
		border-radius:5px;
		font-weight:bold;
	}
.submit:hover
	{
		background:#b2497d;
	}
	
	
/*-------------------------------------------------------------------------------- Upload Button Style----------------------------------------------------------------------------*/
	
	.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 6 */

.inputfile-6 + label {
    color: #1ABC9C;
	
}

.inputfile-6 + label {
    border: 1px solid #1ABC9C;
    background-color: white;
    padding: 0;
	
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #1ABC9C;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
	
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 180px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;

}

.inputfile-6 + label strong {
    
    color: white;
    background-color: #1ABC9C;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #3e3e3e;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}
