.form1
	{
		border:1px solid #a6a6a6;
		width:650px;
		background:#f5f5f5;
		border-radius:5px;
		box-shadow:1px 1px 1px 1px #d9d9d9;
	}
.form1 h3
	{
		font-size:30px;
		color:#535353;
		text-shadow:1px 1px 1px #a6a6a6;
	}
.fitter
	{
		width:410px;
	}
.name_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.email_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.select_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.date_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.phone_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.city_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.country_box
	{
		width:180px;
		height:35px;
		padding-left:10px;
		border:1px solid #dadada;
		border-radius:5px;
		color:grey;
		border-color: #9ecaed;
		box-shadow: 0 0 6px #9ecaed;
	}
.checkbox
	{
		width:15px;
		height:15px;
	}
.radio
	{
		width:15px;
		height:15px;
	}
.submit
	{
		width:200px;
		height:40px;
		background:#1ABC9C;
		color:white;
		border:none;
		border-radius:5px;
		font-weight:bold;
	}
.submit:hover
	{
		background:#5ed0b9;
	}
	
	
/*-------------------------------------------------------------------------------- Upload Button Style----------------------------------------------------------------------------*/
	
	.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 4 */

.inputfile-4 + label {
    color: grey;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #141414;
}

.inputfile-4 + label figure {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3e3e3e;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #141414;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: white;
}

