.form1
	{
		border:1px solid #6ca4c8;
		width:650px;
		background:#f3fafe;
		border-radius:5px;
		box-shadow:1px 1px 1px 1px #79b9e1;
	}
.form1 h3
	{
		font-size:30px;
		color:grey;
	}
.fitter
	{
		width:410px;
	}
.name_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.email_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.select_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.date_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.phone_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.city_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.country_box
	{
		width:400px;
		height:35px;
		padding-left:10px;
		border:1px solid #1ABC9C;
		border-radius:5px;
		color:grey;
		border-color: #1ABC9C;
		box-shadow: 0 0 6px #1ABC9C;
	}
.checkbox
	{
		width:15px;
		height:15px;
	}
.radio
	{
		width:15px;
		height:15px;
	}
.submit
	{
		width:200px;
		height:40px;
		background:#3C3C3C;
		color:white;
		border:none;
		border-radius:5px;
		font-weight:bold;
	}
.submit:hover
	{
		background:#4c4c4c;
	}

/*-------------------------------------------------------------------------------- Upload Button Style----------------------------------------------------------------------------*/
	
	.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: white;
    background-color: #428BCA;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #3071A9;
}


