
.menu	
	{
		border-right:1px solid #1ABC9C;
		width:15%;
	}
.data
	{
		padding-left:40px;
		padding-top:50px;
		width:85%;
	}
.temp_label
	{
		font-size:23px;
		color:grey;
	}
.temp_text
	{
		width:450px;
		height:40px;
		border:2px solid #5178BF;
		border-radius:4px;
		padding-left:15px;
	}
.temp_type
	{
		width:450px;
		height:46px;
		border:2px solid #5178BF;
		border-radius:4px;
		padding-left:15px;
		font-size:15px;
		color:grey;
	}
.temp_sub
	{
		width:450px;
		height:40px;
		border:2px solid #5178BF;
		border-radius:4px;
		padding-left:15px;
	}
.mail_submit
	{
		width:150px;
		height:40px;
		color:white;
		background:#1ABC9C;
		border:none;
		border-radius:4px;
		font-size:15px;
	}
.mail_submit:hover
	{
		background:#35E3C0;
	}