
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #017fb5;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

section {
  padding: 5px 0;
}

.heading {
  padding-bottom:20px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}
.pa0 { padding:0; }
.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}


/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 35%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px; 
  color: #000;
  width:60%; margin:auto;
  
  background: rgba(244,244,244,.5);
}

#home-slider .caption h1 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding:14px 40px; 
  margin: 20px 0;
  background:#028fcc; margin-bottom:20px;
}

.caption .btn-start:hover {
  color: #fff;
  background:#ff8706;
} 
.caption2 .btn-start {
  color: #fff;
  font-size: 17px; 
  padding:14px 25px; 
  background:#ff8706; 
  margin-top: 40px;
}

.caption2 .btn-start:hover {
  color: #333; 
  background:#ff0;
}

.caption3 .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:8px 20px; 
  background:#028fcc; 
  margin: 5px 0 20px 0;
}

.caption3 .btn-start:hover {
  color: #333; 
  background:#ff0;
}

.caption4 .btn-start {
  color: #028fcc;
  font-size: 14px;
  font-weight: 600;
  padding:14px 20px; 
  border: 1px solid #028fcc; 
  margin: 5px 0 20px 0;
}

.caption4 .btn-start:hover {
  color: #fff;  
  background:#028fcc;
}

.caption5 .btn-start {
    border: 1px solid #76ccf2;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    margin: 5px 0 20px;
    padding: 2px ;
	text-align:center; width:100%;  
}

.caption5 .btn-start:hover {
  color: #fff;  
  background:#0272a3;
}
.member-image img { margin-bottom:10px; }
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:2px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*
.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
} */

#home-slider .left-control {
  left:30px
} 

#home-slider  .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-left li a {
  color: #fff; 
  font-size: 14px; 
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-left li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 0;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;  
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
  background-color: #333;
}

.our-services .col-sm-4 { 
  padding-bottom: 20px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  margin-top: 35px;
}
.service-info p {
  color: #333;  
}
.service-info p:hover {
  color: #337ab7;  
}

/*************************
********About CSS*******
**************************/
#about-us {
  background-image: url(../images/about-bg.jpg);
  padding: 60px 0;
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.progress{
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 25px;
}

.progress-bar{
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}

/*************************
********portfolio CSS*****
**************************/

#portfolio .container-fluid, 
#portfolio .col-sm-3  {
  overflow: hidden;
  padding: 0;
}

#portfolio .folio-item {
  position: relative;
}

#portfolio .overlay {
  background-color: #000;
  color: #fff; 
  left: 0;
  right:0;
  bottom:-100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity:0;  
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
  display: table;
  height: 100%;
  width: 100%;
}

.overlay .overlay-text {
  display: table-cell;
  vertical-align: middle;
}

.overlay .folio-info {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
  margin-top: 0;
  color: #fff;
}

.folio-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.folio-overview a:hover {
  color: #fff;
}

.folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}

.folio-image, .folio-overview .folio-expand {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}

.folio-image img {
  width: 100%;
}

#portfolio .folio-item:hover .overlay {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
  margin-top: 0;
  margin-left:0;
}

#portfolio .folio-item:hover .overlay .folio-info {
  opacity: 1;  
  margin-bottom:0;
  margin-top:0;
}


#single-portfolio {
  padding: 90px 0;
  background: #f5f5f5;
  position: relative;
}

#single-portfolio img {
  width: 100%;
  margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
  position: absolute;
  top: 30px;
  font-size: 34px;
  width: 34px;
  height: 34px;
  left: 50%;
  color: #999;
  margin-left: -17px;
}

/*************************
*********Team CSS*********
**************************/
#team {
  padding-top: 0;
  background:#f1f1f1;
}

.team-members {
  margin-bottom: 25px;
}

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
    background-color: #d9d9d9;
    color: #fff;
    display: block;
    font-size: 25px !important;
    height: 56px;
    line-height: 2.3em !important;
    opacity: 0.8;
    padding-left: 15px;
    width: 56px;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-member {
  text-align: center;
  color: #333;
  font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

.member-info h3 {
  margin-top: 1px;
}

.member-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #999;
}


/*************************
*******Features CSS*******
**************************/
#features {
  text-align: center;
  background-image: url(../images/features-bg.jpg);
}

#features i {
  font-size: 48px;
}

#features h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}


/*************************
*****Pricing Table CSS****
**************************/
.pricing-table {
  text-align: center;
}

.single-table {
  padding: 30px 20px 20px;
  border:1px solid #f2f2f2;
}

.single-table h3 {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price {
  font-size: 36px;
  line-height: 36px;
}

.price span {
  font-size: 14px;
  line-height: 14px;
}

.single-table ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.single-table ul li {
  line-height: 30px;
}

.single-table.featured {  
  color: #fff;
}

.single-table.featured h3 { 
  color: #fff;
}

.single-table.featured .btn.btn-primary {
  background-color: #fff;
}

/*************************
********Twitter CSS*******
**************************/
#twitter {
  background-image: url(../images/twitter-bg.jpg);
}

#twitter > div {
  text-align: center;
  position: relative;
}

#twitter-carousel {
  position: relative;
  z-index: 15
}

.twitter-icon {
  position: relative;
  z-index: 15;
  color: #fff;
}

.twitter-icon .fa-twitter {
  font-size: 24px;
  height: 64px;
  width: 64px;
  line-height: 65px;
  border-radius: 50%; 
  position: relative;
}

.twitter-icon .fa-twitter:after {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  left: 24px;
  bottom: -14px;
}

#twitter-carousel .item {
  padding: 0 55px;
}

#twitter-carousel .item a {
  color: #fff;
}

.twitter-icon h4 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}

.twitter-left-control, 
.twitter-right-control {
  position: absolute;
  top: 50%;
  color: #fff;
  border: 1px solid #fafafa;
  height:34px;
  width: 34px;
  line-height: 31px;
  margin-top: -17px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 15
}

.twitter-left-control {
  left: 80px;
} 

.twitter-right-control {
  right: 80px
}

.twitter-left-control:hover, .twitter-right-control:hover {
  color: #fff;
}


/*************************
**********Blog CSS********
**************************/

.post-thumb {
  position: relative;
}

.post-icon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #333;
    font-size: 19px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 0 3px #fff;
    text-transform: uppercase;
    top: 5px;
    width: 100%;
}

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta span {
  margin-right: 16px;
}

#post-carousel .carousel-indicators {
  bottom: 110px; 
}

.blog-left-control, .blog-right-control {
  position: absolute;
  top: 35%;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,.7);
  font-size: 36px;
  
}
.blog-left-control2 {margin-left: -15px;  }
.blog-right-control2 {margin-right: -15px; }

.blog-left-control {
  left: 0;
}

.blog-right-control {
  right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
  color: #fff;  
}
.team-members h3 {
    color: #337ab7;
    font-size: 16px;
    font-weight: normal;
}
.team-members h3:hover { color:#333; }
.team-members img { opacity:0.99; }
.team-members img:hover { opacity:0.7; }
.team-members p   { color:#333; }
.team-members p:hover { color:#000; }

.entry-header h3 a {
  line-height: 30px;
}

.entry-header .date, 
.entry-header .cetagory {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.entry-header .date:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 20px;
  height: 3px;
}

.entry-content {
  font-size: 14px;
}

.load-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-loadmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-loadmore:hover {
  color:#fff;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
  padding-top: 45px;
  padding-bottom: 0;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image:url(../images/contact-bg.jpg);
  padding-bottom: 90px; 
}

#contact-us .heading {
  padding-top: 95px;
}

#blog h3 {  color:#0272a3; text-transform:uppercase; }

.form-control {
  background-color: transparent;
  border: 1px solid #ccc;;
  height: 50px;
  border-radius: 0;
  box-shadow: none;
} 

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}

#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 5px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 100%;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

/*Presets*/

/*CUSTOM CSS*/

#footer-link {
    font-size: 13px;
    text-align: left;
}
#footer-link h3 { 
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
	text-transform:uppercase;
}
#footer-link ul { padding-left:0 !important; }
#address ul li { line-height:1.7em !important; }
#footer-link ul li {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 2.7em;
    list-style: outside none none; 
}
#footer-link ul li  	 {
    color: #cdffff;
    font-size: 13px;
}
#footer-link ul li a {
    color: #cdffff;
    font-size: 13px;
}
#footer-link ul li a:hover {
    color: #fff;
    text-decoration: underline;
}
#footer-link .fa {
    margin-right: 10px;
}

.request-call { background:#4cca25; cursor:pointer; background-image:linear-gradient(#4cca25 ,#59f02a) ; color: rgb(255, 255, 255); border-radius: 50px; padding: 10px 20px; }
.request-call:hover { background:#59f02a; }

#home-slider .item {  height:430px !important; } 
.result-img img { width:190px;}
.mb5px	{ margin-bottom:5px; }
.result-div { padding:20px; border-bottom:1px dashed #ccc; margin-bottom:10px;  }
.result-div:hover { background:#fff; padding:20px; }
.left-menu { margin-top:25px; background:#fff; min-height:500px; }
.left-menu ul { padding:10px; }
.left-menu ul li  { background:#036; color:#fff; padding:10px 20px; list-style:none; margin-bottom:2px; }
.left-menu ul li a {  color:#fff; display:block;   }
.left-menu ul li:hover {  background:#028fcc; } 
.result-div .fa { border: 1px solid; border-radius: 50%; color: #028fcc; height: 25px; padding: 5px 4px; width: 25px; }

#content-block { padding:10px; border:1px solid #ddd; margin-bottom:40px; }
#content-block h4 {color:#028fcc; margin:10px 0; font-size:16px;  }
.list-item ul { padding:10px; }
.list-item ul li  {  color:#333; padding:1px 1px; line-height:1.5em; list-style:none; margin-bottom:2px; } 
 
.send-inquiry {
    float: left;
    margin: 0 1%;
    padding: 0;
    width: 98%;
}
.send-inquiry a {
    background: #ff8706 none repeat scroll 0 0;
    border: 0 solid #ff8706;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 18px;
    margin: 30px 0 0;
    padding: 6px 0 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.send-inquiry a:hover {
    background: #ff0 none repeat scroll 0 0;
    border: 0 solid #000; color:#333;
}
.send-inquiry a span {
    float: left;
    font-size: 12px;
    width: 100%;
}
.deal-block {  border:1px dotted #666; padding:20px; }
.deal-block:hover { cursor:pointer; }
.deal-block p { font-size:16px; color:#028fcc; }
.deal-block:hover { border:1px dotted #ccc; }
.form-control { color:#f1f1f1; }
#team .navbar-fixed-top { left: auto !important; position: fixed; right: auto !important; z-index:-1; top:60px; width:250px; }
#slider-thumbs .thumbnail { margin-bottom:5px; }

#slider .caption { margin-top: -104px; padding: 0px 20px; color: rgb(255, 255, 255); text-shadow:1px 1px 3px #333; }
#slider .caption h1 { color:#fff; }

.panel-default > .panel-heading { border-bottom:1px solid #ccc; }

.price-quote .form-group { margin-bottom:5px; }
.price-quote .form-group .form-control { height:40px; padding:5px 10px; color:#333; }
.instant-book { border:1px solid #ccc; background:#fff;  margin-bottom:20px; }
.instant-book .head { background:#028fcc; font-size:20px;  padding:10px 20px; color:#fff; }

.instant-book .head span {  font-size:13px; float:right;  }

.why-block { border:1px solid #ccc;   }
.why-block img { height:300px; width:100%; }
.why-block .putty { position:absolute; background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0; width:95%; padding:15px 0 0 15px; }
.why-block .putty h3 { margin:0 0 5px 0; color:#fff; }
.why-block .putty p {  color:#fff; }

.discount10 { padding: 10px; margin: 0px 10px 0px 70px; color: rgb(2, 143, 204); border: 1px dashed rgb(204, 204, 204); border-radius: 30px; width: 70%; text-align: center; }