@charset "utf-8";
/* DG_CSS Document */
a {
	color: #3E72DF;
	text-decoration: none;
}
a:hover {
	color: #000000;
}
body {
	margin: 0px;
	background:#f3f9ff url(../images/pgbg.gif);
}
body,td,th {
	font: 12px Helvetica, Arial, verdana, Tahoma ;
}
p {
	margin:0px;
	padding:5px 0 5px 0;
	text-align:justify;
}
form,input,select,textarea,hr {
	padding:0px;
	margin:0px;
}
ul,ol {
	margin:0px;
	padding:3px 0 3px 25px;
	text-align:justify;
}
li {
	padding-top:1px;
	padding-bottom:1px;
}
h1,h2,h3,h4,h5,h6,th {
	padding:2px;
	margin:0px;
}
input,select,textarea {
	font:11px Arial, Helvetica, sans-serif;
	border:1px solid #222222;
	color:#524e4d;
	padding-left:5px;
}
a:link,a:visited,a:active {
	text-decoration: none;	
}

/*a:hover {
	text-decoration: none;
	color:#0660ce;
}*/
.menu{
	text-decoration: none;
	color:#3d7bc8;
}

/*DG ID*/
#Head_Area {
	background-color:#263A75;
	/*padding:10px;*/
	display:block;
	text-align:left;
}
#TopSearch_Area {
	background:#77a8e3 url(../images/top_search_bg.gif) top left repeat-x;;
	padding:4px;
	color:#ffffff;
	font:bold 12px 'Helvetica',arial;
	display:block;
	margin-top:1px;
}
#Body_Area {
	display:block;
	background-color:#FFFFFF;
	color:#0D0D0D;
	margin-top:1px;
	text-align:left;
	border-right:1px solid #3e7dcc;
}
#Body_Area_Employee {
	display:block;
	background-color:#FFFFFF;
	color:#0D0D0D;
	margin-top:1px;
	text-align:left;
}
#Container {
	padding:5px;
	overflow: visible;
	height: 300px;
}
#Left_Area {
	background-color:#aacef9;
	margin:15px;
	color:#FFFFFF;
	font:bold 12px 'helvetica',arial;
	width:200px;
	text-align:left;
}
#Welcome_Area {
	background-color:#e2efff;
	padding:10px;
	color:#004477;
}
#Forum_Area {
	background-color:#cbe2ff;
	overflow: visible;
}
#Bottom_Area {
	background-color:#77a8e3;
	padding:10px;
	text-align:center;
	display:block;
	font:bold 12px arial;
	color:#FFFFFF;
}
#powered {
	background-color:#f3f9ff;
	text-align:right;
	font:11px arial;
	padding:2px 10px 2px 0px;
}
#News {
	margin:10px 4px 4px 4px;
	border:1px solid #4284d5;
	background-color:#d2e4fb;
	color:#003366;
	padding:5px;
	text-align:justify;
}
#Latestnews {
	background:#21528b url(../images/icon_newsEvents.gif) 5px center no-repeat;
	color:#fff08a;
	font:bold 12px 'trebuchet ms',arial;
	padding:5px 0px 4px 45px;
	margin-bottom:5px;
}
#Birthday {
	margin:10px 4px 4px 4px;
	border:1px solid #4284d5;
	background-color:#d2e4fb;
	color:#003366;
	padding:5px;
	text-align:justify;
}
#Today_Birth {
	background:#f5a43b url(../images/icon_birthday.gif) 0px center no-repeat;
	color:#641507;
	font:bold 13px 'helvetica', arial;
	padding:5px 0px 4px 45px;
	margin-bottom:5px;
}

/*DG_Class : Padding */
.PadTopBotTwo {
	padding:2px 0 2px 0;
}
.PadFive {
	padding:5px;
}
.PadTen {
	padding:10px;
}
.PadTwo {
	padding:2px;
}
.PadTopOne {
	padding-top:1px;
}
.PadFiveTop {
	padding-top:5px;
}
.PadFiveBot {
	padding-bottom:5px;
}
.PadTopBotFive {
	padding:5px 0 5px 0;
}
.PadTopBotTen {
	padding:10px 0 10px 0;
}
.PadTopTen {
	padding-top:10px;
}
.PadTopTwenty {
	padding-top:20px;
}
.PadLeftRightTen {
	padding:0 10px 0 10px;
}
.PadLeftRightTwenty {
	padding:0 20px 0 20px;
}
.PadLeftTwelve {
	padding-left:12px;
}
.PadLeftTen {
	padding-left:10px;
}
.PadLeftFive {
	padding-left:5px;
}
.PadRightTen {
	padding-right:10px;
}
.PadRightFive {
	padding-right:5px;
}
.Magin_Left_One {
	margin-left:1px;
}
.Margin_top_ten {
	margin-top:10px;
}


/* Font style */

.verdana {
	font-family:verdana;
}
.arial {
	font-family:arial;
}
.helvetica {
	font-family:Helvetica;
}
.bold {
	font-weight:bold;
}
.SmFont {
	font-size:10px;
}
.SmFontBold {
	font-size:10px;
	font-weight:bold;
}
.LgFont {
	font-size:12px;
}
.welcome_weblink {
	background:url(../images/icon_discussion.gif) 5px center no-repeat;
	padding:8px 5px 5px 70px;
	font:bold 16px/20px 'helvetica',arial;
	color:#040e3c;
}
.Head2 {
	font:bold 14px 'helvetica', Arial;
	white-space:nowrap;
	text-align:left;
	color: #ffffff;
	padding:5px 0 2px 10px;
}
.Head {
	color:#073d66;
	border-bottom:2px solid #073d66;
	font:bold 20px 'Helvetica', Arial;
	white-space:nowrap;
	text-align:left;
	padding:2px;
}
.Head3 {
	color:#8f2600;
	font:bold 12px 'Helvetica', Arial;
	white-space:nowrap;
	text-align:left;
	padding:2px;
}
.weblink_head {
	color:#fffde5;
	font:bold 25px 'Helvetica',arial;
	white-space:nowrap;
	text-align:right;
	padding-right:40px;
}
.Maroon, a.Maroon {
	color:#9b0303;
}
.yellowTxt, a.yellowTxt {
	color:#fedb55;
}
.li_bold {
	color:#fed000;
	font-weight:bold;
}
.Price {
	color:#b00a22;
}
.more {
	font-weight:bold;
	color:#064d8d;
	text-align:right;
	padding:2px;
	float:right;
}
.white, a.white {
	color:#ffffff;
}
.red {
	color:#9c1d1d;
}
.VerdanaEleven {
	font-family:verdana;
	font-size:11px;
}
.Trebuchet {
	font-family:'trebuchet ms', helvetica, arial;
}
.GrayTxt {
	color:#666666;
}
.DarkGrayTxt, a.DarkGrayTxt {
	color:#2c2c2c;
}
.BlueTxt {
	color:#153c70;
}
.Head_BlueTxt {
	color:#153c70;
	border-bottom:1px solid #f5a95b;
}
.OrangeTxt {
	color:#b66d09;
}
.skyblue,a.skyblue {
	color:#d0f7ff;
}
a.skyblue {
	color:#d0f7ff;
	margin-left:10px;
	margin-right:10px;
}
a.skyblue:hover {
	color:#FFFFFF;
}
.black, a.black {
	color:#000000;
}

/* Background style */

.lightGrayBg {
	background-color: #fcfcfc;
	border-bottom:1px solid #f0f0f0;
	padding:2px 4px 0px 4px;
	height: 20px;
}
.brdrbtm{
	background-color: #fcfcfc;
	border-bottom:1px solid #f0f0f0;
	padding:2px 4px 0px 4px;
	height: 20px;
}
.border-btm{
	background-color: #fcfcfc;
	border-bottom:1px solid #f0f0f0;
	padding:2px 4px 0px 4px;
	height: 20px;
}
.lightGreenBg {
	background-color: #e0e0e0;
	border-bottom:1px solid #f8f8f8;
	padding:2px 4px 0px 4px;
	height: 22px;
}
.lightGreenBg2 {
	background-color:#646464;
	border-bottom:1px solid #5d5d5d;
	padding:2px 4px 0px 4px;
	height: 22px;
	font-family:tahoma;
}
.lightGrayBg2 {
	background-color:#f4f4f4;
	border-bottom:1px solid #f0f0f0;
	padding:2px 4px 0px 4px;
	height: 20px;

}
.lightBlueBg {
	background-color:#bed9ff;
}
.Blackbg {
	background-color:#000000;
}
.whitebg {
	background-color:#FFFFFF;
}
.mainbg {
	background-color:#28498b;
}
.Bluebg {
	/*background-color:#227cd9;*/
	background-color:#5b97d4;
}
.Orangebg {
	background-color:#ffa04d;
}
.ltgraybg {
	background-color:#227cd9;
	padding-left:5px;
	font-color: #ffffff;
}
.lightGrayBg_input {
	background-color:#fff8ec;
	padding:2px 4px 2px 8px;
}
.BodyDivGrayBg {
	background-color:#f2f2f4;
}
.dotbg {
	background:url(../images/dot.gif) center repeat-x;
}
.dotvbg {
	background:url(../images/dot_v.gif) center repeat-y;
}

/* Alignment Style */
.left {
	float:left;
}
.right {
	float:right;
}
.absmiddle {
	vertical-align:middle;
}

/* Border Style */

.topbotborder {
	border-bottom:1px solid #bababa;
	border-top:1px solid #bababa;
	padding:5px;
}
.LeftRightborder {
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
	padding:5px;
}
.lightBorder {
	border:1px solid #cedbe0;
}
.border {
	border:1px solid #5d5d5d;
	padding:5px;
}
.ImgBorder {
	border:1px solid #b9b9b9;
	margin:2px 2px 2px 1px;
	padding:1px;
	font:bold 11px arial;
	color:#990000;
}
.leftborder {
	border-left:1px dotted #eeeeee;
}
.borderBottom{
	border-bottom:1px solid #f5a95b; 
}
.borderTop{
	border-top:1px solid #666666; 
}
.borderLeft{
	border-left:1px solid #666666; 
}
.borderRight{
	border-right:1px solid #666666; 
}
.borderBottomDark{
	border-bottom:1px solid #bbbbbb; 
}
.borderBottomDashed{
	border-bottom:1px dashed #cccccc; 
}
.borderBottomDotted{
	border-bottom:1px dotted #d7d7d7; 
}
.borderLight{
	border:1px solid #b0bec7; 
}
.DotBorderBottom {
	border-bottom:1px dashed #cccccc;
}

/* Special Style */

.NoStyle, a.NoStyle {
	border:none;
	font-style:normal;
	font-weight:normal;
}
.normal {
	width:100%;
}
.TotalHeight {
	height:100%;
}
.clear_both {
	clear:both;
}
.input{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7f9db9;
	background-color: #FFFFFF;
	color: #333333;
	padding:2px;
}
.input2{
	font:10px Arial, Helvetica, sans-serif;
	border:1px solid #7f9db9;
	background-color: #FFFFFF;
	color: #333333;
	width:160px;
	overflow:auto;
	padding:2px;
}
.bullet {
	list-style-image:url(../images/bullets_blue.jpg);
	vertical-align:middle;
	margin-left:12px;
}
.bullet1 {
	list-style-image:url(../images/li.gif);
	font:bold 11px arial;
	color:#0247a5;
	line-height:18px;
}
.bullet2 {
	list-style-image:url(../images/bullet.gif);
	vertical-align:middle;
	margin-left:12px;
}
.button {
	font:bold 11px arial;
	color:#FFFFFF;
	text-align:center;
	border:1px solid #284790;
	background-color: #508ecc;
	padding:0px 5px 0px 5px;
}
.Expand {
	line-height:18px;
}
.count {
	border-top:1px dotted #d0d0d0;
	border-bottom:1px dotted #d0d0d0;
	margin:5px;
	padding:5px 0 5px 0;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}
.caps {
	text-transform:capitalize;
}
.table {
	display:table;
}

/* Links */ 

a.toplink {
	background-color:#3067ab;
	font:bold 12px Arial;
	color:#ffffff;
	display:block;
	white-space:nowrap;
	text-align:center;
	padding:2px;
	margin:2px;
	width:120px;
	float:right;
}
a.toplink:hover {
	color:#feffa5;
	background-color:#3d7bc8;
}
a.leftlink {
	background-color:#3d7bc8;
	display:block;
	font:bold 12px 'arial', helvetica;
	color:#ffffff;
	padding:5px 2px 5px 10px;
	margin:1px 0px; 
}
a.leftlink:hover, a.leftlink_sub:hover {
	background-color:#468be0;
	color:#ffffff;
}
a.botnavr {
	color:#f3f9ff;
	padding:5px;
	font:bold 12px arial;
}
a.white:hover, a.botnavr:hover, {
	color:#004d99;
}
.yellow_bg {
	background-color:#f8f5d6;
}
.Lt_blue_bg {
	background-color:#e3efff;
}
.Lt_yellow_bg {
	background-color:#f8f5d6;
}

/* Paging Style */

.main_index{
	display:block; 
	margin-bottom:10px; 
	padding: 5px; 
	padding-right:8px;
	border-bottom:1px solid #bed9ff;
	border-top:1px solid #bed9ff;
	margin:10px 0px 10px 0px;
	background-color:#ffffff;
}
.index{
	margin-left:10%; 
	margin-right:10%; 
	text-align:center; 
}
.navBarTxt {
	width:16px; 
	height:15px; 
	border: 1px solid #dddddd; 
	font: bold 10px Arial, Helvetica, sans-serif; 
	color: #333333; 
	text-decoration: none; 
	padding:1px 4px 1px 4px; 
}

.navBarTxt:hover {
	width:16px; 
	height:15px; 
	background-color:#064d8f; 
	font: bold 10px Arial, Helvetica, sans-serif; 
	color: #ffffff; 
	text-decoration: none; 
	padding:1px 4px 1px 4px; 
	border: 1px solid #000000; 
}
.navBarTxt_dg {
	width:16px; 
	height:15px; 
	background-color:#064d8f; 
	font: bold 10px Arial, Helvetica, sans-serif; 
	color: #ffffff; 
	text-decoration: none; 
	padding:1px 4px 1px 4px; 
	border: 1px solid #000000;
	cursor:default;
}
.colorThumb {
	border:1px dotted #666666;
	padding:2px;
}
.tcat {
	background:#a6c4ea url(../images/desc_head.gif) bottom left repeat-x;;
	padding:4px;
	color:#ffffff;
	font:bold 13px 'Helvetica',arial;
}
.alt1Active {
/*	border-top:1px solid #c7e2fd;
	background-color:#eef5ff;*/
	background-color:#ffffff;
}
.alt1 {
/*	border-top:1px solid #c7e2fd;
	background-color:#eef5ff;*/
	background-color:#ffffff;
	font:bold 11px arial;
}
.alt2 {
/*	border-top:1px solid #c7e2fd;
	background-color:#f9fcff;*/
	background-color:#FFFFFF;
}
.thead{
/*	background-color:#5b97d4;
	color:#FFFFFF;*/
	font:bold 13px 'helvetica',arial;
	background-color:#cbe2ff;
	color:#003064;
}
.lightGrayBg_form {
	border-bottom:1px solid #c7e2fd;
	border-top:1px solid #c7e2fd;
	background-color:#f9fcff;
}
.Birthday_area {
	margin:2px 0px 2px 0px;
	padding:2px 0px 2px 0px;
	border-bottom:1px solid #ffb89e;
	background-color:#d2e4fb;
	color:#003366;
	text-align:justify;
	height:70px;
	display:block;
	font:bold 11px arial;
}

/* CSS Added By Raju */
.txtfieldadmin{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7f9db9;
	background-color: #FFFFFF;
	color: #333333;
	padding:2px;
}

a.leftlink_sub {
	background-color:#5b9dee;
	display:block;
	font:bold 12px 'arial', helvetica;
	color:#ffffff;
	padding:5px 2px 5px 18px;
	margin:1px 0px; 
}
.icon{
	padding:0px 2px 3px 10px; 
	color:#ee0000; 
	background:url(../images/new_icon.gif) left center no-repeat; 
	font:bold 11px verdana; 
	text-decoration:none;
}
.icon_red{	
	padding:0px 2px 3px 10px; 
	color:#000000;
	background:url(../images/new_icon_red.gif) left center no-repeat; 
	font:bold 11px arial; 
	text-decoration:none;
}